body {
    background-color: #4b4847;
    color: #ffffff;
}

.split {
    display: flex;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

.left {
    left: 0;
}

.right {
    right: 0;
}

@media only screen and (max-width: 600px) {
    .split {
        flex-direction: row;
    }
}

.squares {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.square {
    width: 50px;
    height: 50px;
    display: block;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

.square.clicked {
    border: solid 4px #0d6efd;
}

.white-square {
    background-color: white;
}

.white-square:hover::after {
    content: "White"; /* Display text on hover */
    position: absolute;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8); /* Background color of text */
    color: white; /* Text color */
    padding: 5px 10px; /* Padding around text */
    border-radius: 5px; /* Rounded corners */
    white-space: nowrap; /* Prevent text wrapping */
}

.black-square {
    background-color: black;
    color: white;
}

.black-square:hover::after {
    content: "Black"; /* Display text on hover */
    position: absolute;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8); /* Background color of text */
    color: white; /* Text color */
    padding: 5px 10px; /* Padding around text */
    border-radius: 5px; /* Rounded corners */
    white-space: nowrap; /* Prevent text wrapping */
}

.half-square {
    background: linear-gradient(to bottom right, white 50%, black 50%);
}

.half-square:hover::after {
    content: "Random"; /* Display text on hover */
    position: absolute;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8); /* Background color of text */
    color: white; /* Text color */
    padding: 5px 10px; /* Padding around text */
    border-radius: 5px; /* Rounded corners */
    white-space: nowrap; /* Prevent text wrapping */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card {
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    background-color: #4e7837;
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #ffffff;
}

.ctrl-buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

#startBtn {
    margin-right: 10%;
}

#board1 {
    position: relative;
    z-index: 1;
  }

.piece-417db {
    position: relative;
    z-index: 2;
}
